<html>
  <head>

    <script
      src=" https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js "
    ></script>
  </head>

  <body>
    Hello there! Served from port:
    {{port}}
    <script>
      const body = { ask: "ping", username: "Just_Mar_Ok", password: "xxosihH8riEq7c"}; $.post("/api", body, (data, status) => {
      console.log(data); });
    </script>
  </body>
</html>